*.suo
*.vsidx
*.vsidx
*.application
*.exe
*.manifest
*.pdb
*.baml
*.cache
*.baml
*.cache
*.cache
*.lref
*.application
*.cache
*.cache
*.txt
*.cache
*.exe
*.manifest
*.pdb
*.cache
*.lref

.vs/
bin/x64/Debug/
bin/x64/Obj/
bin/x64/Release/
obj/
bin/Debug/
obj/x64/Debug/
obj/Debug/
